# Ignore everything at the root
/*

# Keep the .gitignore file
!/.gitignore

# Whitelist core Python modules
!/utils.py
!/feedback.py
!/spawner.py
!/connector.py
!/generator.py
!/Suwon_GridProcess.py
!/Suwon_Image_Crawl.py 